@import url('https://fonts.googleapis.com/css?family=Bangers|Press+Start+2P&display=swap');

/* Generic stuff */
body{
    margin: 0;
    background-color: black;
    font-family: "Bangers", Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(../assets/retro_arcade.jpg);
    z-index: 1;
}

footer{
    font-size: 1.5em;
    background-color: black;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    letter-spacing: 0.1em;
    position: absolute;
    text-align: center;
    bottom: 0;
}

header{
    background-color: #000;
    padding-bottom: 1vh;
    z-index: 5;
}

h1{
    text-align: center;
    margin-top: 0;
    letter-spacing: 0.25em;
}


nav ul{
    padding: 0;
    width: 75%;
    margin: auto;
    text-align: center;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0.5em 2em;
    background-image: linear-gradient(white,slategray,white);
    border-radius: 1em;
    margin: 1vh 1vh;
}

nav li a{
    text-decoration: none;
    color: black;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

nav li:hover{
    box-shadow: 0 0 1em 0.25em lightskyblue;
    transition: box-shadow 0.5s ease-in-out;
    background-image: linear-gradient(slategray,white,slategray);
}

.container{
    width: 800px;
    height: 100vh;
    margin: auto;
    position: relative;
    background-color: black;
    border-radius: 1em;
    box-shadow: 0 0 2em 2em black;
    transition: 0.5s;
}

.smallContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    margin: 100px auto 0;
    text-align: center;
    }

.socialMedia{
    display: inline-block;
    position: absolute;
    right: 1em;
}

svg{
    margin: 0 0.25em;
}

.twitter{
    fill: #1da1f2;
}

.gitHub{
    fill: #ffffff;
}

.linkedIn{
    fill: #0077b5;
}

.socialMedia svg:hover{
    transform: scale(1.5);
    -moz-transform: scale(1.5);;
    transition: transform 0.5s ease-in-out;
}

button{
    background-image: linear-gradient(white,slategray,white);
    color:black;
    border-radius: 2em;
    margin: 5px 10px;
    transition: all 0.5s ease-in-out;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

button:hover{
    background-image: linear-gradient(slategray,white,slategray);
    box-shadow: 0 0 1em 0.25em lightskyblue;
    cursor: pointer;
}

.active{
    color:#0b690b;
}

.disabled, .used{
    pointer-events: none;
}

.hidden{
    display: none;
}

/* animations */

@keyframes bounce{
    0%{
        transform: translateY(-100%);
    }
    5%{
        transform: translateY(-90%);
    }
    15%{
        transform: translateY(-75%);
    }
    30%{
        transform: translateY(-50%);
    }
    40%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(10%);
    }
    70%{
        transform: translateY(25%);
    }
    80%{
        transform: translateY(75%);
    }
    90%{
        transform: translateY(-40%);
    }
    95%{
        transform: translateY(40%);
    }
    97%{
        transform: translateY(-25%);
    }
    99%{
        transform: translateY(40%);
    }
    100%{
        transform: translateY(25%);
    }
}

@keyframes text-glow{
    100%,0% {
        text-shadow: 0 0 10px white;
    }
    30% {
        text-shadow: 0 0 50px white;
    }
    50% {
        text-shadow: 0 0 100px white;
    }
    80% {
        text-shadow: 0 0 150px white;
    }
}

/* Home page */

.clickbait{
    width:100%;
    height:100%;
    z-index: 10;
}

.clickbait button{
    position: absolute;
    width: 250px;
    height: 150px;
    top: calc( 50% - 75px );
    left: calc( 50% - 125px );
    padding: 20px 40px;
    transition: all 0.25s ease-in-out;
    font-size: 3vh;
}

.clickbait button:hover{
    color: #ff0000;
}

.clickbait button:focus{
    color: #0b690b;
}

.welcome{
    font-size: 6vw;
    text-shadow:0 0 10px #fff;
    letter-spacing: 0.5rem;
    color: #000080;
}

.postWelcome{
    font-size: 3vw;
    text-shadow: 0 0 10px #fff;
    letter-spacing: 0.25em;
    color: #ffffff;
}

p{
    margin:0;
}

/* tic tac toe (mostly) */

.buttonholder{
    width: 50%;
    margin: 10px auto 0;
    text-align: center;
}

#gamestart{
    padding: 10px 0;
    width: 65%;
}

.ingame {
    padding: 10px 0;
    width: 40%;
    opacity: 0;
}

#gameboard{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    width: 80%;
    min-height: 80px;
    border-radius: 1rem;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 5vh;
    box-sizing: border-box;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.box:hover{
    box-shadow: 0 0 0.5em 0.1em lightskyblue;
}

#uimessages{
    font-size: 2em;
    width: 390px;
    text-align: center;
    margin: auto;
    letter-spacing: 0.25em;
}

#results{
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #000;
    border-radius: 1em;
    box-shadow: 0 0 2em 2em black;
    transition: 0.5s;
    z-index: 10;
}

#results ul{
    letter-spacing: 0.25em;
    font-size: 1.5em;
}

#score {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 42px;
    font-size: 1.25em;
    letter-spacing: 0.25em;
}

#score th, td {
    border: 2px solid white;
}

.closebutton{
    width: 50px;
    margin-top: 10px;
    font-size: 2em;
    position: absolute;
    text-align: center;
    right: 25px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

.closebutton:hover{
    text-shadow: 0 0 20px lightskyblue;
    color: lightskyblue;
    cursor: pointer;
}

.endGameOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.endGameOverlay .buttonholder{
    width: 50%;
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: 5vh;
    letter-spacing: 0.1em;
}

.endGameOverlay .buttonholder button{
    padding: 20px 50px;
}

/* pong */

#pong{
    width: 75%;
    height: 75vh;
    border: 1px solid #fff;
    margin: 5vh auto;
    display: block;
}

.menu{
    width: 50%;
    padding: 2vh 0;
    font-size: 5vh;
}

.difficulty{
    display: block;
    margin: 5px auto;
    width: 150px;
    text-align: center;
    padding-left: 0;
}

#warning{
    text-align: center;
    background-color: #000;
    font-size: 10vw;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#fullscreen{
    display:block;
    margin: 0 auto;
}

/* responsive, main media query */
@media only screen and (max-width: 960px){
    h1{
        display: none;
    }

    .container{
        width:100vw;
        height:100vh;
        text-shadow: 0 0 0 #000;
    }

    nav ul{
        width: 100%;
        margin: 0;
    }

    .endGameOverlay .buttonholder button{
        padding: 5px 50px;
        text-align: center;
    }

    .welcome{
        font-size: 8vh;
    }

    .postWelcome{
        font-size: 4vh;
    }

    .buttonholder{
        width: 90%;
    }

    .socialMedia{
        display: block;
        position: relative;
        /* text-align: center; */
        margin-top: 1vh;
    }

    #gameboard{
        width: 75%;
    }

    #results{
        text-shadow: 0 0 0 0 #000;
    }

    #uimessages{
        width: 100%;
        display: inline-block;
    }

    footer{
        text-align: center;
    }

    .wrapper .endGameOverlay .buttonholder{
        position: relative;
        top: 0;
        left: 0;
    }
}

/* For the pong page specifically, essentially forces landscape mode for mobiles */
@media only screen and (max-width: 960px) and (orientation: portrait){
    #warning{
        display: block;
    }
}

@media only screen and (max-width: 960px) and (orientation: landscape){
    #warning{
        display: none;
    }
}